.card {
    width: 100%;
    background-color: #FFF;
    border-radius: 4px;
    padding: 12px;
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.divider:last-child {
    display: none;
}