.container {
    display: grid;
    grid-template-columns: 1fr 50fr 1fr;
    grid-template-rows: 10vh 15vh 65vh 10vh;
    grid-template-areas: "header header header" 
    "section section section"
    ". main ."
    "footer footer footer";
}

header {
    background-color: #FFDFD3;
    grid-area: header;
}

section {
    background-color: yellow;
    grid-area: section;
}

main {
    background-color: brown;
    grid-area: main;
}


footer {
    background-color: red;
    grid-area: footer;
}