.container {
    max-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 8vh 17vh 65vh 10vh;
    grid-template-areas: "header header header" 
    "section section section"
    "main main main"
    "footer footer footer";
}

.teste{
    border-radius: 2px;
    transform: skew(-15deg);
    background-color: gold;
    height: 8px;
    width: 7rem;
    margin-right: auto;
    padding: 4px;
}

header {
    display: flex;
    grid-area: header;
    align-items: center;
    background-color: #FFF;
    justify-content: space-between;
}

header img:nth-child(1) {
    width: 112px;
    margin-left: 16px;
}

header img:nth-child(3) {
    outline: 2px solid #7E7E7E;
    border-radius: 50%;
    width: 40px;
    padding: 2px;
    margin-right: 16px;
    margin-left: 16px;
}

section {
    color:#FFF;
    display: flex;
    flex-direction: column;
    padding-left: 16px;
    background-image: url('../public/assets/images/headerBackground.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    grid-area: section;
}

section h3{
    margin-top: 8px;
    margin-bottom: 4px;
}

section button {
    outline: 4px solid rgba(126, 126, 126, 0.3);
    margin-top: auto;
    margin-bottom: 4px;
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    height: 24px;
    color: blue;
    width: 120px;
    margin-left: auto;
    background: #FFF;
    border-radius: 16px;
    margin-right: 16px;

}

main {
    background-color: brown;
    grid-area: main;
}


footer {
    padding-left: 16px;
    padding-right: 16px;
    background-color: #FFF;
    grid-area: footer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}